<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Dawit" value="Dawit" />
  </appSettings>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=dawit-hp\sqlserver2012;Initial Catalog=MasterElectronics;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
    <add name="projectOfonlineshopConnectionString" connectionString="Data Source=DAWIT-HP\SQLSERVER2012;Initial Catalog=projectOfonlineshop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


</configuration>
